.card {
  z-index: 2;
  background-color: $offWhite;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  overflow: hidden;

  &-bg-img {
    width: 100%;
    height: auto;
  }
  &-profile-img {
    z-index: 3;
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid $offWhite 5px;
  }
  &-name-content {
    margin-top: 20%;

    p {
      margin-left: 10px;
    }
  }

  #city {
    padding: 5px;
    margin-bottom: 1.5em;
    font-size: 1rem;
  }
}

.grid {
  h1 {
    padding: 20% 10% 0 10%;
  }

  p {
    font-size: 0.75rem;
    padding: 0 10% 20% 10%;
  }
}
